@import url('styles/main.css');
@import url('styles/nav-bar.css');
@import url('styles/home.css');
@import url('styles/history.css');
@import url('styles/calendar.css');
@import url('styles/follow-santa.css');
@import url('styles/letters.css');
@import url('styles/videocall.css');
@import url('styles/elf-name.css');
@import url('styles/santa-picture.css');
@import url('styles/lists.css');
@import url('styles/games.css');
@import url('styles/gallery.css');
@import url('styles/experience.css');
@import url('styles/footer.css');
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
@import url('styles/game1.css');
@import url('styles/game2.css');
@import url('styles/game3.css');
@import url('styles/book-experience.css');