
.book-steps{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;

}

.step-container {
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px auto;
}

.step2, .step3 {
    display: none;
}

.step-wizard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    margin-bottom: 0;
    padding: 10px 0;
    width: 80%;
}

.step-wizard_step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    flex: 1;
}

.step-wizard_icon {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    border: 2px solid #d0d0d0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text1);
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    transition: all 0.3s ease;
}

.step-wizard_title {
    margin-top: 8px;
    font-size: 14px;
    color: var(--color-text1);
    font-weight: normal;
    transition: color 0.3s ease;
}

.step-wizard_step.active .step-wizard_icon {
    background-color: #5b84b1; /* Color activo */
    border-color: #5b84b1;
    color: #fff;
}

.step-wizard_step.active .step-wizard_title {
    color: #5b84b1; /* Color activo */
}



.step-wizard_step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    right: -50%;
    height: 2px;
    background-color: #5b84b1;
    z-index: -1;
    transition: width 0.3s ease;
}

.step-wizard_step.active ~ .step-wizard_step::after {
    background-color: #5b84b1;
}


.book_title {
    font-size: 1.6rem;
    text-align: center;
    margin: 20px auto;
    color: var(--color-text2);
}

/* Form Section */
.book-form_container {
    width: 70%;
    margin: 0px auto;
    padding: 20px;
    background-color: var(--color-background-box);
    border-radius: 8px;
}

.book-form_title {
    font-size: 1.5rem;
    color: var(--color-text1);
}

.book-form_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}


.book-form_group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--color-text1);
    pointer-events: none;
    transition: all 0.3s ease;
}

.book-form_group input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: clamp(0.7rem, 1.1vw, 1rem);
    margin: 7px 0;
    outline: none;
    background-color: transparent;
    color: var(--color-text1);
}


.book-form_group input:focus + label, .book-form_group input:valid + label {
    top: 0;
    left: 10px;
    transform: translateY(20%);
    font-size: 0.8rem;
    padding-inline: 5px;
    background-color: transparent;
}

.book-date_label{
    color: transparent !important;
    font-size: 5rem;
}

.book-date_input:focus + label, .book-date_input:valid + label {
    color:var(--color-text1) !important;
}


.book-form_group input:focus {
    border-color: var(--color-background-box2);
    outline: none;
}

.book_btn {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: var(--color-button1);
    color: var(--color-text1);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: auto;
    box-shadow: 4px 4px 1px #000;
}

.book_btn:active {
    box-shadow: inset 4px 4px 1px #000;
}


.book_price{
    color: var(--color-text1);
    margin: 0;
}


/* Payment Section */

.book_payment {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-background-box);
    border-radius: 8px;
}

.book_payment-title {
    font-size: 1.5rem;
    color: var(--color-text1);
}

.book_payment-method {
    margin-bottom: 15px;
}

.book_payment-method input {
    margin-right: 10px;
    cursor: pointer;
}

.book_payment-method label {
    font-size: 1.2rem;
    color: var(--color-text1);
    cursor: pointer;;
}

.card-payment {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-text1);
    border-radius: 8px;
    display: none;
}

.card_form {
    display: flex;
    flex-direction: column;
}

.payment-form_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}

.payment-form_group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--color-text2);
    pointer-events: none;
    transition: all 0.3s ease;
}

.payment-form_group input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #000;
    font-size: clamp(0.7rem, 1.1vw, 1rem);
    border-radius: 8px;
    margin: 10px 0;
    outline: none;
    background-color: transparent;
}

.payment-form_group input:focus + label, .payment-form_group input:valid + label {
    top: 0;
    left: 10px;
    transform: translateY(20%);
    font-size: 0.8rem;
    padding-inline: 5px;
    background-color: var(--color-text1);
}

.expiry_label{
    color: transparent !important;
}

.expiry_input:focus + label, .expiry_input:valid + label {
    color:var(--color-text1) !important;
}

.payment-form_group input:focus {
    border-color: var(--color-button2);
    outline: none;
}

.check_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.check_card > .payment-form_group{
    width: 45%;
}

.paypal-payment {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-text1);
    border-radius: 8px;
    display: none;
}

.paypal_form {
    display: flex;
    flex-direction: column;
}

.paypal-form_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}

.paypal-form_group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--color-text1);
    pointer-events: none;
    transition: all 0.3s ease;
}

.paypal-form_group input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #000;
    font-size: clamp(0.7rem, 1.1vw, 1rem);
    border-radius: 8px;
    margin: 10px 0;
    outline: none;
    background-color: transparent;
}

.paypal-form_group input:focus + label, .paypal-form_group input:valid + label {
    top: 0;
    left: 10px;
    transform: translateY(20%);
    font-size: 0.8rem;
    padding-inline: 5px;
    background-color: var(--color-text1);
}

.paypal-form_group input:focus {
    border-color: var(--color-button2);
    outline: none;
}

.book-payment_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.book-payment_btn{
    display: block;
    width: 30%;
    padding: 10px;
    background-color: var(--color-button1);
    color: var(--color-text1);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 4px 4px 1px #000;
}

.book-payment_btn:active {
    box-shadow: inset 4px 4px 1px #000;
}

.book-payment_back {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: var(--color-button2);
    color: var(--color-text1);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 4px 4px 1px #000;
}

.book-payment_back:active {
    box-shadow: inset 4px 4px 1px #000;
}

/* Confirmation Section */
.book_confirm {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-background-box);
    border-radius: 8px;
    color: var(--color-text2)
}


.book_confirm-title {
    font-size: 1.5rem;
    color: var(--color-text1);
}

.book_confirm-info p {
    margin: 10px 0;
    font-size: 1.1rem;
    line-height: 1.4;
    color: var(--color-text1)
}

.book_confirm-info span {
    font-weight: bold;
}

.book-confirm_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.book-confirm_back{
    display: block;
    width: 30%;
    padding: 10px;
    background-color: var(--color-button2);
    color: var(--color-text1);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 4px 4px 1px #000;
}

.book-confirm_back:active {
    box-shadow: inset 4px 4px 1px #000;
}

.book-confirm_btn{
    display: block;
    width: 30%;
    padding: 10px;
    background-color: var(--color-button1);
    color: var(--color-text1);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 4px 4px 1px #000;
}

.book-confirm_btn:active {
    box-shadow: inset 4px 4px 1px #000;
}
