#gallery {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-global);
}

.gallery_content {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: var(--color-background-box);
}

.gallery_carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60%;
    height: 100%;
    min-width: 450px;
    position: relative;
}

.gallery_items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery_item {
    width: 400px;
    height: 200px;
    margin: 0 10px;
    opacity: 0.3;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
}

.gallery_item.active {
    width: 450px;
    height: 300px;
    opacity: 1;
    transform: scale(1);
}

.gallery_item.left, .gallery_item.right {
    width: 400px;
    height: 250px;
    opacity: 0.6;
    transform: scale(0.9);
}


.gallery_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    z-index: 10;
    border-radius: 50%;
}

.gallery_arrow--left {
    left: 10px;
}

.gallery_arrow--right {
    right: 10px;
}

.gallery_indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.gallery_indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s ease;
}

.gallery_indicator.active {
    background-color: black;
}


@media screen and (max-width: 600px) {
    
    .gallery_arrow {
        display: none;
    }
}