
#home{
    height: 100vh;
    background-image: url(../images/taller.webp);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    
}