
#letters{
    height: 100vh;
    background-color: var(--color-background-global);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sello-image{
    position: absolute;
    width: 15%;
    transform: translateX(300px) translateY(-250px);
}

@media screen and (max-width:900px){
    .sello-image{    
        width: 20%;
    }
}

@media screen and (max-width:768px){
    .sello-image{    
        width: 25%;
        transform: translateX(250px) translateY(-250px);
    }
}

@media screen and (max-width:650px){
    .sello-image{    
        width: 20%;
    }
}

@media screen and (max-width:600px){
    .sello-image{    
        transform: translateX(110px) translateY(-250px);
    }
}

.formulario_enviar_carta{
    padding: 60px;
    background-color: var(--color-background-box);
    border-radius: 20px;
    width: 80vh;
}

@media screen and (max-width:768px){
    .formulario_enviar_carta{    
        width: 70vh;
    }
}

@media screen and (max-width:600px){
    .formulario_enviar_carta{    
        width: 50vh;
    }
}

.nom_email{
    display: flex;
    padding-left: 15px;
}

@media screen and (max-width:600px){
    .nom_email{    
        flex-direction: column;
        padding-left: 0px;
    }
}

.lugar{
    display: flex;
    padding-left: 15px;
}

@media screen and (max-width:600px){
    .lugar{    
        flex-direction: column;
        padding-left: 0px;
    }
}

.nombre_etiqueta{
    font-weight: 700;
    font-size: clamp(0.7rem, 1.9vw, 1rem);
    color: var(--color-text1);
    display: block;
    margin-bottom: 10px;
}

@media screen and (max-width:600px){
    .nombre_etiqueta{    
        margin-bottom: 5px;
    }
}

.caja_label{
    width: 100%;
    padding: 30px 30px 30px 10px;
}

@media screen and (max-width:768px){
    .caja_label{ 
        padding: 30px 30px 20px 10px;
    }
}

@media screen and (max-width:600px){
    .caja_label{    
        padding: 10px 30px 10px 30px;
    }
}

.formulario_input{
    padding: 10px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: clamp(0.7rem, 1.9vw, 1rem);
    background-color: var(--color-background-amarillento);
    border-radius: 10px;
}

.mi_carta{
    display: flex;
    padding-left: 15px;
}

@media screen and (max-width:600px){
    .mi_carta{    
        padding-left: 0px;
    }
}

.formulario_input_mi_carta{
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: var(--color-background-amarillento);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border-left-color: #000000;
    border-top-color: #000000;
    border-right-color: #808080;
    border-bottom-color: #808080;
    border-width: 2px;
    border-radius: 10px;
}

@media screen and (max-width:768px){
    .formulario_input_mi_carta{ 
        font-size: 0.9em;
    }
}

@media screen and (max-width:600px){
    .formulario_input_mi_carta{    
        font-size: 0.7em;
        padding: 5px;
    }
}

.boton_enviar{
    display: flex;
    justify-content: center;
}

.formulario_submit{
    padding: 10px;
    width: 100px;
    height: 30%;
    background-color: var(--color-button2);
    color: var(--color-text1);
    font-weight: 400;
    cursor: pointer;
    box-shadow: 4px 4px 1px rgba(0, 0, 0);
    border-radius: 8px;
    border: 1px solid #000;
    transition: all 0.2s ease-in-out;
}

.formulario_submit:active {
    box-shadow: inset 4px 4px 1px rgba(0, 0, 0);
}

.carta_santa {
    display: none;
    position: fixed;
    top: 100px;
    right: 5px;
    border: none;
    width: 60px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    animation: flash 0.8s infinite;
}

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}


.carta-personalizada {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-popup);
    color: var(--color-text2);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    border-radius: 8px;
    width: 600px;
    max-width: 80%;
    text-align: center;
    font-size: clamp(0.7rem, 1.9vw, 1rem);
}

.cerrar-carta {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: var(--color-text2);
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
}