/* Paleta de color */
:root{
    --color-text1: #F3F2F2;
    --color-text2: #2F2223;
    --color-background-global: #251819;
    --color-background-amarillento: #e4e7ba;
    --color-background-box: #403234c2; 
    --color-background-box2: #dc3846dc;
    --color-text-oscuro: #383131;
    --color-button1: #85A021;
    --color-button2: #dc3846ea;
    --color-button3: #2cc55d;
    --color-button4: #ccc;
    --color-cursor: #FF4;
    --color-popup: #eae9b6c2;
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    cursor: url('/images/baston.webp'), auto;
}

.cursor-trail {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--color-cursor);
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--color-background-global);
    color: var(--color-text1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

input[type="button"] {
    cursor: pointer;
}

.title{
    height: 20vh;
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 2rem;
    color: var(--color-text1);
    padding-top: 10vh;
    margin: 0;

}

.content{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

