

.nav-bar{
    z-index: 10000 !important;
}

.nav-bar{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-barra-nav);
    color: var(--color-text1);
    position: fixed;
    top: 0;
}

.nav-bar_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex: 0 0 auto;
}

.nav-bar_menu{
    width: 30px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin: 10px;
    cursor: pointer;
}

.menu{
    width: 15%;
    height: 80vh;
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-popup);    
    border-radius: 0 15px 15px 0;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 100;
}

@media screen and (max-width: 850px) {
    .menu{
        width: 25%;
    }
}

.menu.open {
    display: flex;
}

.menu_list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    margin-top: 10vh;
    max-width: 100%;
}

.menu_list a{
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    color: var(--color-text2);
    text-decoration: none;
    text-align: center;
    transition: var(--color-background-global) 0.3s ease-in-out;
    margin-right: 10px;
    cursor: pointer;
}

.menu_list a:hover{
    color: var(--color-text1);
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 101;
    margin: 0 15px ;
}

.menu-toggle .line {
    width: 100%;
    height: 4px;
    background-color: var(--color-text2);
    border-radius: 4px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform-origin: center;
}

.menu-toggle.open .line1 {
    transform: rotate(45deg) translateY(9px);
}

.menu-toggle.open .line2 {
    transform: rotate(-45deg) translateY(-9px);
}

.search-bar {
    display: flex;
    align-items: start;
    position: relative;
    width: auto;
    height: 40px;
}

.search-text {
    width: 0;
    height: 100%;
    border: none;
    border-bottom: 2px solid var(--color-text2);
    background: transparent;
    color: var(--color-text1);
    padding: 0 10px;
    font-size: 16px;
    transition: width 0.3s ease-in-out; 
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    border-radius: 16px;
}

.search-bar :hover {
    cursor: text;
}

.search-bar.active .search-text {
    width: 200px;
    opacity: 1;
    pointer-events: auto;
}

.search-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
}

.search-icon:hover {
    cursor: pointer;
}

.search-bar.active .search-icon {
    transition: transform 0.3s ease-in-out;
}

.suggestions {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid var(--color-text1);
    border-top: none;
    background-color: var(--color-text-oscuro);
    position: absolute;
    top: 45px;
    width: calc(100% - 40px);
    z-index: 100;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
    color: var(--color-text1);
    border-bottom: 1px solid var(--color-text2);
}

.suggestions li:hover {
    background-color: var(--color-background-amarillento);
    color: var(--color-text2);
}


.web-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    cursor: pointer;
}

.web-name_text{
    font-size: clamp(1.2rem, 1.9vw, 1.5rem);
    margin: 0;
    margin-right: 10px ;
    font-style: none;
    text-decoration: none;
    color: var(--color-text2);
    text-wrap:wrap;
}

.web-name_logo{
    width: auto;
    max-width: 50px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .web-name_logo {
        width: 30px;
    }
}

.nav-bar_access{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    z-index: 1000;
}

.access{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.3));
}

.access:active {
    filter: none;
}


.access_icon{
    width: clamp(3rem, 3vw, 5vw);
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--color-background-box);
    flex: 0 0 auto;
    cursor: pointer;
}

.logged_icon{
    width: clamp(3rem, 3vw, 5vw);
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--color-background-box);
    flex: 0 0 auto;
    cursor: pointer;
    display: none;
}

.access_menu {
    display: none;
    background-color: var(--color-background-box2);
    position: relative;
    top: -200px;
    transition: top 0.3s ease-in-out;
    border-radius: 8px;
}

.access_menu.open {
    top: 0;
}

.access_logout {
    display: none;
    background-color: var(--color-background-box2);
    position: relative;
    top: -200px;
    transition: top 0.3s ease-in-out;
    border-radius: 8px;
}

.access_logout.open {
    top: 0;
}

.logout_button {
    background-color: var(--color-text1);
    padding: 10px;
    margin: 15px 15px;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 4px 4px 1px rgba(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.logout_button:active {
    box-shadow: inset 4px 4px 1px rgba(0, 0, 0);
}

.access_register{
    background-color: var(--color-button1);
    padding: 10px;
    margin-left: 15px;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 4px 4px 1px rgba(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.access_register:active {
    box-shadow: inset 4px 4px 1px rgba(0, 0, 0);
}

.access_login{
    background-color: var(--color-button4);
    padding: 10px;
    margin: 15px 15px;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 4px 4px 1px rgba(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.access_login:active {
    box-shadow: inset 4px 4px 1px rgba(0, 0, 0);
}


.register-popup{
    width: 25%;
    min-width: 250px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-popup);
    border-radius: 14px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.register-popup.open {
    display: flex;
}

.register_close{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    padding: 10px 10px 0 0;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}



.register_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: transparent;
}

.form-group {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #000;
    font-size: clamp(0.7rem, 1.1vw, 1rem);
    border-radius: 8px;
    margin: 10px 0;
    outline: none;
    background-color: transparent;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #666;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input:focus + label, .input:valid + label {
    top: 0;
    left: 10px;
    transform: translateY(20%);
    font-size: 0.8rem;
    padding-inline: 5px;
    background-color: var(--color-popup);
}

.register_form button {
    width: 50%;
    height: 40px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: var(--color-button2);
    cursor: pointer;
    box-shadow: 4px 4px 1px #000a;
}

.register_form button:active {
    box-shadow: inset 4px 4px 1px #000a;
}


.login-popup{
    width: 25%;
    min-width: 250px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-popup);
    border-radius: 14px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.login-popup.open {
    display: flex;
}

.login_close{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    padding: 10px 10px 0 0;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:left;
    background-color: transparent;
}

.login_form button{
    width: 50%;
    height: 30px;
    padding: 5px;
    margin: 15px 0;
    border: 1px solid #000;
    border-radius: 8px;
    background-color:  var(--color-button2);
    cursor: pointer;
    box-shadow: 4px 4px 1px #000a;
}

.login_form button:active {
    box-shadow: inset 4px 4px 1px #000a;
}

/* Fondo oscuro para el popup */
.login_dark-overlay, .register_dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; /* Oculto por defecto */
}



/*Responsive*/

@media (max-width: 600px) {

    .nav-bar{
        height: 12%;
    }

    .nav-bar_icons {
        justify-content: center;
        margin-bottom: 10px;
    }

    .nav-bar_menu {
        font-size: clamp(1.5rem, 2vw, 2.5rem);
    }

    .web-name {
        flex-direction: column-reverse;
        margin: 0;
    }

    .web-name h2 {
        margin: 0;
    }

    .search-bar {
        width: 100%;
        margin-left: 0;
        justify-content: center;
    }

    .access_menu {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
    }

    .access_menu.open {
        top: 30px;
    }

    .access_register, .access_login {
        width: 80%;
        margin: 10px 0;

    }

    .register-popup, .login-popup {
        width: 70%;
        
    }

    .menu{
        width: 50%;
    }

    .search-bar{
        display: none;
    }
}

.nav-bar_modo-oscuro{
    position: fixed; 
    top: 8px; 
    right: 70px; 
    z-index: 10;  
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .nav-bar_modo-oscuro {
        top: 17px;
    }
    
}
.modo-oscuro_icon{
    display: inline-block;
    width: 50px;
    height: 32px;
    background-color: none;
    border-radius: 25px;
    position: relative;
}

.switch {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative; 
    color: transparent;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0daad;
    border-radius: 25px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2.5px;
    background-color: #FFF;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider {
    background-color: #000;
}

input:checked + .slider:before {
    transform: translateX(25px);
}
