
#santa-picture{
    height: 100vh;
    background-color: var(--color-background-global);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.santa_selfie{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-background-box);
    padding: 20px;
    border-radius: 20px;
}

.selfie_info{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.open-camera_btn{
    width: 40%;
    height: 10%;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-button2);
    border-radius: 30px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0);
    cursor: pointer;
    margin-bottom: 15px;
}

.open-camera_btn:active{
    box-shadow: inset 4px 4px 1px rgba(0, 0, 0);
}

.photo {
    width: 45%;
    height: 80%; 
    min-width: 180px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-background-box);
    overflow: hidden; 
    border-radius: 10px; 
    margin-left: 10px;
}

.photo_container {
    width: 90%; 
    height: 90%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.photo_container img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

/* -------POP-UP CAMARA--------- */

.selfie_popup{
    width: 60%;
    height: 70%;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.selfie_camera{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-popup);
    padding: 30px;
}

.camera_feed{
    width: 50%;
    height: 100%;
    transform: scaleX(-1);
    object-fit: cover;
}

.camera_canvas{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-popup);
    object-fit: cover;
}

.camera_controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.capture_btn{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f00;
    border-radius: 30px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0);
    padding: 10px;
    cursor: pointer;
}

.capture_btn:active{
    box-shadow: inset 4px 4px 1px rgba(0, 0, 0);
}

.save-photo_btn{
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0;
    border-radius: 30px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0);
    cursor: pointer;
}

.save-photo_btn:active{
    box-shadow: inset 4px 4px 1px rgba(0, 0, 0);
}

.save-photo_btn:disabled {
    background-color: #a3a1a1;
    box-shadow: inset 4px 4px 1px rgba(0, 0, 0);
    cursor: not-allowed; 
    opacity: 0.5;
}

.camera_dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 1;
}


@media screen and (max-width: 768px){
    
    .selfie_camera{
        flex-direction: column;
    }

    .camera_feed{
        width: 70%;
        height: 50%;
    }

    .camera_canvas{
        width: 70%;
        height: 50%;
    }

    .santa_selfie{
        flex-direction: column;
        justify-content: center;
        height: 90%;
    }

    .selfie_info{
        width: 90%;
        height: auto;
        justify-content: start;
    }

    .open-camera_btn{
        padding: 10px;
    }

    .photo{
        width: 90%;
    }

}