
#videocall{
    height: 100vh;
    background-color: var(--color-background-global);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.videocall_frame{
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 15px;
}

.videocall_screen{
    width: 90%;
    height: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.videocall_message{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    background-color: var(--color-background-box2);
    color: var(--color-text1);
    border-radius: 15px;
}

.videocall_message_title{
    font-size: clamp(1.5rem, 2vw, 3rem);
}

.videocall_message_text{
    font-size: clamp(1.2rem, 1.5vw, 2rem);
}

.videocall_screen video{
    width: 90%;
    height: 90%;
    display: none;
    background-color: #FFF;
    margin: 0;
    border-radius: 10px;
}

.videocall_controls{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 17%;
    width: 30%;
}

.videocall_button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.videocall_button img{
    width: 100%;
    height: cover;
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
}

.subtitles_btn{
    display: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

.subtitles_btn img{
    width: 100%;
    height: cover;
    margin: 0;
    cursor: pointer;
}

.videocall_camara{
    width: 15vw;
    height: 20vh;
    background-color: transparent;
    display: flex;
    position: relative;
    bottom: 28%;
    right: -25%;
    margin: -70px;
}

.camera-stream {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    transform: scaleX(-1);
}
